
@media (min-width: 769px) {
  .aem-container.aem-Grid.aem-Grid--12.aem-Grid--default--12.aem-Grid--phone--12 {
    display: flex;
  }
}

.align-top-left {
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-start;
}

.align-top-center {
  display: flex !important;
  align-items: flex-start;
  justify-content: center;
}

.align-top-right {
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
}

.align-middle-left {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}

.align-middle-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.align-middle-right {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}

.align-bottom-left {
  display: flex !important;
  align-items: flex-end;
  justify-content: flex-start;
}

.align-bottom-center {
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
}

.align-bottom-right {
  display: flex !important;
  align-items: flex-end;
  justify-content: flex-end;
}

.container img {
  display: block;
}

.bg-white {
  background-color: #fff;
}

.bg-turquoise {
  background-color: #5eced0;
}

.bg-slate {
  background-color: #33303c;
}

.bg-yellow {
  background-color: yellow;
}

.bg-amber {
  background-color: rgba(255, 145, 0, 0.842);
}

.bg-red {
  background-color: red;
}

.bg-deep-red {
  background-color: rgb(212, 72, 72);
}

.bg-blue {
  background-color: blue;
}

.container {
  padding: 0px
}
